/* =========================================================================
   Estilos para Diálogos e Janelas de Importação (DICOM)
   ========================================================================= */

QDialog {
    background-color: #282c34;
    color: #abb2bf;
}

QTableWidget {
    background-color: #21252b;
    color: #abb2bf;
    gridline-color: #181a1f;
    border: 1px solid #181a1f;
    selection-background-color: #3e4451;
    selection-color: #61afef;
}

QHeaderView::section {
    background-color: #282c34;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #181a1f;
    font-weight: bold;
}

QDoubleSpinBox {
    background-color: #1b1f23;
    color: #ffffff;
    border: 1px solid #181a1f;
    padding: 4px;
    border-radius: 2px;
}