QPushButton {
    border-radius: 4px;
    font-weight: bold;
    padding: 6px 12px;
    min-height: 20px;
}

QPushButton[tipo="primary"] {
    border: none;
}

QPushButton[tipo="primary"]:hover {
    /* Sem propriedades de cor */
}

/* Botões de Ação Específicos */
QPushButton[class="botao-acao"] {
    font-weight: bold;
    border-radius: 4px;
}

/* Botão de Configurações (Engrenagem) */
QPushButton#btn_settings {
    border-radius: 10px;
}

QPushButton#btn_settings:hover {
    /* Sem propriedades de cor */
}

/* Ferramentas e Cabeçalho */
QToolButton, QToolButton#HeaderToolButton, QToolButton#botaoHomeWorkspace {
    border: none;
    border-radius: 4px;
}

QToolButton#botaoHomeWorkspace {
    font-size: 18px;
    margin-left: 5px;
}

QToolButton#botaoHomeWorkspace:hover {
    border-radius: 5px;
}

QToolButton:hover {
    /* Sem propriedades de cor */
}

QToolButton:pressed {
    /* Sem propriedades de cor */
}

QPushButton[status="sucesso"], QPushButton[status="erro"] {
    border-radius: 4px;
    font-weight: bold;
    padding: 6px 12px;
}