QPushButton {
    border-radius: 4px;
    font-weight: bold;
    padding: 6px 12px;
    min-height: 20px;
}

QPushButton[tipo="primary"] {
    background-color: #61afef; /* Substituído var(--primary-color) */
    color: #282c34;          /* Substituído var(--primary-text) */
    border: none;
}

QPushButton[tipo="primary"]:hover {
    background-color: #528bff; /* Substituído var(--primary-hover) */
}

/* Ferramentas e Cabeçalho */
QToolButton, QToolButton#HeaderToolButton, QToolButton#botaoHomeWorkspace {
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

QToolButton:hover {
    background-color: #3e4451; /* Substituído var(--tool-hover-bg) */
}

QToolButton:pressed {
    background-color: #2c313c; /* Substituído var(--tool-pressed-bg) */
}