/* =========================================================================
   Cards e Listas (Components)
   ========================================================================= */

QListWidget {
    border: none;
    padding: 4px;
}

QListWidget::item {
    border-radius: 3px;
    padding: 1px 2px;
    margin-bottom: 1px;
}

QListWidget::item:hover {
    border-width: 4px;
    border-style: solid;
}

QListWidget::item:selected {
    border-left-width: 4px;
    border-left-style: solid;
}

/* Estrutura dos ProjectCards */
ProjectCardWidget {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 4px;
}


/* =========================================================================
   FlowsCard (Components)
   ========================================================================= */

FlowsCard {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    margin: 4px;
}

QFrame#FluxoCardMainBlock {
    border-radius: 6px;
    min-width: 200px;
    max-width: 200px;
    min-height: 80px;
    max-height: 80px;
}

QLabel#FluxoCardTitleLabel {
    background-color: transparent;
}

QLabel#FluxoCardArrow {
    background-color: transparent;
    font-size: 14pt;
    font-weight: bold;
}

QLabel#FluxoCardModuleLabel {
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    min-width: 140px;
    max-width: 140px;
    min-height: 70px;
    max-height: 70px;
}