WorkspaceTabWidget {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-height: 32px;
}

WorkspaceTabWidget QLabel {
    background-color: transparent;
    color: inherit;
    padding: 0px 2px;
}

WorkspaceTabWidget QPushButton#TabCloseButton {
    background-color: transparent;
    border: none;
    color: transparent;
    font-weight: bold;
    font-size: 14pt;
    margin-right: 4px;
}

WorkspaceTabWidget[ativo="true"] QPushButton#TabCloseButton,
WorkspaceTabWidget:hover QPushButton#TabCloseButton {
    color: var(--tab-close-color);
}

WorkspaceTabWidget QPushButton#TabCloseButton:hover {
    background-color: var(--tab-close-hover-bg);
    color: #FFFFFF;
    border-radius: 2px;
}