/* =========================================================================
   Paleta Tema Purple (Apenas Cores)
   ========================================================================= */

QMainWindow {
    background-color: #0B0E14;
}

QLabel, QLineEdit, QCheckBox, QRadioButton, QPushButton {
    color: #A9B1D6;
}

QTabWidget::pane {
    border-color: #1A1B26;
    background-color: #0B0E14;
}

QTabBar::tab {
    background: #16161E;
    color: #787C99;
}

QTabBar::tab:hover {
    background: #1F2335;
    color: #D0D0F0;
}

QTabBar::tab:selected {
    background: #1A1B26;
    color: #9D7CD8;
    border-bottom-color: #9D7CD8;
}

QTabBar::tab:east {
    background: #16161E;
    color: #787C99;
    border-left-color: #1A1B26;
}

QTabBar::tab:east:selected {
    background: #24283B;
    color: #BB9AF7;
    border-left-color: #BB9AF7;
}

QPushButton {
    background-color: #1A1B26;
    border-color: #24283B;
    color: #C0CAF5;
}

QPushButton:hover {
    background-color: #24283B;
    border-color: #9D7CD8;
}

QPushButton:pressed {
    background-color: #9D7CD8;
    color: #0B0E14;
}

QScrollBar:vertical {
    background: #0B0E14;
}

QScrollBar::handle:vertical {
    background: #1F2335;
}

QScrollBar::handle:vertical:hover {
    background: #9D7CD8;
}

ProjectCardWidget {
    border-color: #444;
    background-color: #282c34;
}

ProjectCardWidget:hover {
    background-color: #26262B;
    border-color: #9D7CD8;
}